#brush_spot{
	/*width = 32px;
	height = 32px;
	background-color: url('./resources/object_sprites.png') 0 32;
	background-color: #000;*/

}

canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
#tile_canvas{
	content:url('./resources/object_sprites.png');
}