#brush_spot{
	width: 32px;
	height: 32px;
	background: url("./resources/object_sprites.png") -32px 0;
	background-position: -32px 0;
}

canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
#tile_canvas{
	content:url('./resources/object_sprites.png');
}

#output
{
  white-space:pre-wrap;
}

.on_one_line{
}